<div class="text-longform text-lg" data-controller="richtext">
	<div data-aos="fade-up">
		<h4>Les bases</h4>
		<p>
			Lorsque l'on écrit ou l'on parle, on se pose toujours des questions. Non, rien d'existentiel, rassurez-vous !<br>Seulement, du point de vue orthographique, chaque mot écrit nécessite une petite réflexion. Que l'on en ait plus ou moins conscience, on s'interroge toujours sur l'accord d'un verbe, d'un adjectif, d'un nom, de savoir s'ils s'écrivent avec un « s » ou deux, par exemple…<br>Les quelques bases d'orthographe (grammaticale principalement) qui vont être rappelées ci-dessous, incontournables, vont vous permettre de mieux appréhender vos difficultés et, à force d'utilisation, de les résoudre progressivement. Ces automatismes vont vous amener à comprendre la plupart des fonctionnements - toujours les mêmes ! - et à vous corriger de manière
			<u>autonome</u>.
		</p>
	</div>
</div>
