<div class="text-longform text-lg" data-controller="richtext">
	<div>Aussi bizarre que ça puisse vous paraître, lorsque l'on code dans le framework Angular, on peut placer du HTML au sein d'un fichier TypeScript (.ts).<br><br>On peut bénéficier d'Emmet (le système d'écriture simplifiée de HTML de VSCode) au sein d'un fichier TypeScript si on l'active.<br><br>Pour cela : rendez-vous dans votre VSCode et faites CTRL+, (contrôle + virgule) ou COMMAND+, (Commande + virgule) si vous êtes sous Mac.<br><br>Recherchez "<em>emmet include</em>", et dans le paramètre Include Languages, entrez une nouvelle association en
		<em>typescript</em>
		et
		<em>html</em>
		comme montré ci dessous :<br><figure data-trix-attachment="{&quot;contentType&quot;:&quot;image/png&quot;,&quot;filename&quot;:&quot;image.png&quot;,&quot;filesize&quot;:50179,&quot;height&quot;:385,&quot;href&quot;:&quot;https://coachtestprep.s3.amazonaws.com/direct-uploads/user-26131/80aa23d6-e5d2-4996-9b7e-fda6deab0df9/image.png&quot;,&quot;url&quot;:&quot;https://coachtestprep.s3.amazonaws.com/direct-uploads/user-26131/80aa23d6-e5d2-4996-9b7e-fda6deab0df9/image.png&quot;,&quot;width&quot;:1291}" data-trix-content-type="image/png" data-trix-attributes="{&quot;presentation&quot;:&quot;gallery&quot;}" class="attachment attachment--preview attachment--png">
			<a href="https://coachtestprep.s3.amazonaws.com/direct-uploads/user-26131/80aa23d6-e5d2-4996-9b7e-fda6deab0df9/image.png" target="_blank" data-turbo="false"><img src="https://coachtestprep.s3.amazonaws.com/direct-uploads/user-26131/80aa23d6-e5d2-4996-9b7e-fda6deab0df9/image.png" width="1291" height="385"></a>
		</figure>
	</div>
</div>
