{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
<div class="w-100">
    <h1>Importer des invitations via CSV</h1>
    {{ form_start(form) }}
        {{ form_row(form.csv_file) }}
        <button class="btn btn-primary" type="submit">Importer</button>
    {{ form_end(form) }}
</div>
{% endblock %}