:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}

/*--------------------------------------------------------------
# Courses List
--------------------------------------------------------------*/
.section-programs .card {
    margin-bottom: 30px;
    border: 1px solid #d5d7d9;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    overflow: hidden;
}

.section-programs h1,
.main-content-courses h1 {
    font-size: 1.375rem;
}

.card-sub-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
}

.spacer-section {
    margin-bottom: 24px !important;
}

@media (min-width: 576px) {
    .spacer-section {
        margin-bottom: 32px !important;
    }
}

@media (min-width: 768px) {
    .flex-fill.mb-6.mb-md-0 {
        margin-bottom: 0 !important;
    }
}

.mb-6 {
    margin-bottom: 24px !important
}

@media (min-width: 768px) {

    .pr-md-6,
    .px-md-6 {
        padding-right: 24px !important;
    }
}

/* Bordered Tabs */
.nav-tabs-bordered {
    border-bottom: 2px solid #ebeef4 !important;
}

.nav-tabs-bordered .nav-link {
    margin-bottom: -2px !important;
    border: none !important;
    color: #2c384e !important;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
    color: #4154f1 !important;
}

.nav-tabs-bordered .nav-link.active {
    background-color: #fff !important;
    color: #4154f1 !important;
    border-bottom: 2px solid #4154f1 !important;
}

.filterbar {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.card-container {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #edeff0;
    min-width: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.thumb-photo {
    box-shadow: inset 0 0 0 1px rgba(13, 22, 27, 0.18);
}


.thumb-lg {
    min-width: 4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem
}

.thumb-program-orthography {
    background: url('./../img/orthography_black_01.png') 50% 50%;
    background-size: cover;
}

.ml-3 {
    margin-left: 12px !important;
}

.text-grey-dark {
    color: #0d161b !important;
}

.opacity-2 {
    opacity: .6 !important;
}

.h4-title {
    color: #0d161b;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 0
}

.text-md,
.bulleted-md .bulleted-item {
    font-size: 1rem !important;
    line-height: 1.75 !important;
    color: #0d161b !important;
    font-weight: 600 !important;
}

.bulleted {
    --item-gap: 0 0.375rem;
    display: flex;
    flex-wrap: wrap;
}

.bulleted-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #53595c;
    font-size: 0.875rem !important;
    line-height: 1.7142857143 !important;
}

.svg-green-soft {
    fill: #006d3f !important;
}

/*--------------------------------------------------------------
# Courses Section
--------------------------------------------------------------*/
.container-fluid {
    max-width: 1440px !important;
}

.container-fluid {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

@media (min-width: 576px) {
    .container-fluid {
        padding-right: 32px !important;
        padding-left: 32px !important;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        padding-right: 48px !important;
        padding-left: 48px !important;
    }
}

.container-fluid.container-padding {
    padding-bottom: 24px !important;
    padding-top: 24px !important;
}

@media (min-width: 576px) {
    .container-fluid.container-padding {
        padding-bottom: 32px !important;
    }
}

@media (min-width: 576px) {
    .container-fluid.container-padding {
        padding-top: 32px !important;
    }
}

.sidebar-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
}

@media (min-width: 576px) {
    .sidebar-container {
        gap: 2rem;
    }
}

@media (min-width: 768px) {
    .sidebar-container:not(.embedded-checkout *) {
        grid-template-columns: minmax(0, 280px) minmax(0, 940px);
        grid-gap: 2em;
    }
}

@media (min-width: 992px) {
    .sidebar-container:not(.embedded-checkout *) {
        grid-template-columns: minmax(0, 372px) minmax(0, 940px);
        grid-gap: 2em;
    }
}

.sidebar-container .sidebar-contents {
    position: relative;
    width: 100%;
    display: none;
    min-width: 240px
}

@media (min-width: 768px) {
    .sidebar-container .sidebar-contents {
        display: grid
    }
}

.sidebar-container .sidebar-contents .sticky-contents {
    position: -webkit-sticky;
    position: sticky;
    top: var(--navbar-offset, 0);
    z-index: 1;
    display: grid;
    align-self: start
}

.sidebar-container .sidebar-contents .sticky-contents {
    position: -webkit-sticky;
    position: sticky;
    top: var(--navbar-offset, 0);
    z-index: 1;
    display: grid;
    align-self: start
}

.sticky-contents a {
    text-decoration: none;
}

.sidebar-container .main-content {
    display: grid;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    grid-template-columns: minmax(0, 940px);
    order: 2;
    position: relative
}

.sidebar-container.reverse .main-content {
    order: 1
}

.sidebar-container #lesson-content {
    max-width: calc(100vw - 24px);
}

.container-fluid .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, 0.125);
}

.container-fluid .list-group .list-group-item {
    padding: 4px !important;
    font-weight: 500 !important;
}

.container-fluid .list-group .list-group-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
    transition: all 0.1s cubic-bezier(0.5, 0.2, 0.9, 0.4);
}

.main-content h1 {
    font-size: 1.375rem;
}

.list-group {
    border-radius: .5rem !important;
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 0;
    padding-left: 0 !important;
}

.list-group.list-group-xs .list-group-item {
    border-radius: 0.5rem !important;
}

.list-group.list-group-menu .list-group-item {
    color: rgb(6, 4, 14) !important;
    ;
}

.list-group.list-group-xs .list-group-item {
    font-size: 0.875rem !important;
    line-height: 1.7142857143 !important;
}

.list-group.list-group-menu a.list-group-item:hover {
    color: #2f3234 !important;
}

.list-group.list-group-menu a.list-group-item:focus {
    color: #2f3234 !important;
}

.container-fluid svg {
    overflow: hidden;
    vertical-align: middle;
}

.list-group .list-group-item .list-group-icon svg {
    fill: #06040E !important;
}

.list-group .list-group-item .list-group-icon {
    background-size: cover;
    background-position: center center;
}

.list-group .list-group-item .list-group-icon {
    align-self: start;
}

.list-group .list-group-item .list-group-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #edeff0;
    min-width: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.list-group.list-group-xs .list-group-item .list-group-icon {
    margin-right: 8px !important;
}

.list-group.list-group-xs .list-group-item .list-group-icon {
    min-width: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 0.375rem;
}

.list-group .list-group-item.active .list-group-icon:not(.thumb-photo) {
    background: transparent !important;
    border-color: transparent !important;
    background-size: cover !important;
    background-position: center center !important;
}

.list-group .list-group-item .list-group-icon {
    background-color: #fff;
}

.list-group .list-group-item .list-group-icon.completed {
    background-color: #edeff0 !important;
}

.list-group.list-group-menu a.list-group-item.active,
.list-group.list-group-menu a.list-group-item.active:hover,
.list-group a.list-group-item:hover {
    color: black !important;
}

.list-group-item-action:hover {
    z-index: 1;
    color: #0d161b;
    text-decoration: none;
    background-color: #edeff0 !important;
}

.container-fluid .list-group .list-group-item:hover {
    border-radius: 0.5rem !important;
}

.list-group-item.active {
    z-index: 2 !important;
    color: #0d161b !important;
    background-color: #edeff0 !important;
    border-color: #edeff0 !important;
}

.main-content .breadcrumb,
.main-content-courses .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 0;
    list-style: none;
    background-color: none;
    border-radius: 0.5rem;
}

nav .breadcrumb .breadcrumb-item {
    color: #91989c !important;
    font-size: 0.875rem !important;
    line-height: 1.7142857143 !important;
}

nav .breadcrumb .breadcrumb-item a {
    font-weight: 600 !important;
}

nav .breadcrumb .breadcrumb-item a {
    text-decoration: none !important;
}

nav .breadcrumb .breadcrumb-item a {
    transition: color 0.1s cubic-bezier(0.5, 0.2, 0.9, 0.4);
}

nav .breadcrumb .breadcrumb-item a:hover {
    color: #0d161b !important;
}

.btn-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.btn-row .btn-icon {
    display: inline-flex;
    align-items: center;
}

.btn-row .btn {
    display: inline-block;
    font-weight: 500;
    color: #0d161b;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0 solid transparent;
    padding: 0.5rem 1.125rem;
    font-size: 1rem;
    line-height: 1.75;
    border-radius: 0.5rem;
    transition: color 0.1s cubic-bezier(0.5, 0.2, 0.9, 0.4), background-color 0.1s cubic-bezier(0.5, 0.2, 0.9, 0.4), border-color 0.1s cubic-bezier(0.5, 0.2, 0.9, 0.4), box-shadow 0.1s cubic-bezier(0.5, 0.2, 0.9, 0.4);
}

.btn-row .btn-outline-grey {
    color: #53595c;
    border-color: #53595c;
    box-shadow: inset 0 0 0 1px #d5d7d9;
}

[data-action="fullscreen#toggle"] {
    display: none;
}

@media (min-width: 768px) {
    [data-action="fullscreen#toggle"] {
        display: flex;
    }
}

.btn-icon svg {
    fill: currentColor;
}

.btn-icon svg {
    max-width: 1rem;
    max-height: 1rem;
}

.btn-icon svg:first-child:last-child {
    margin: 0.375rem -0.25rem;
}

.btn-outline-grey:hover {
    color: #53595c !important;
    background-color: #edeff0 !important;
    border-color: #53595c !important;
}

.mt-n4 {
    margin-top: -16px !important;
}

.text-lg {
    font-size: 1.125rem !important;
    line-height: 1.7777777778 !important;
}

.main-content .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d5d7d9;
    border-radius: 0.5rem;
    line-height: 1.75;
}

@media (max-width: 575.98px) {
    .main-content .card {
        margin-left: -20px;
        margin-right: -20px;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}

.main-content .card-header {
    padding: 0 0;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid #d5d7d9;
    height: auto;
}

@media (min-width: 576px) {

    .main-content .card-header,
    .main-content .card-body {
        padding-top: 24px !important;
        padding-left: 28px !important;
        padding-right: 28px !important;
    }
}

@media (min-width: 576px) {
    .main-content .card-body {
        padding-bottom: 24px !important;
    }
}

.main-content .card-header {
    border-bottom: none;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important;
}

.main-content .card-header {
    border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0 !important;
}

.main-content .card-header .card-title {
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.35;
    color: #0d161b;
    padding: 0;
    height: auto;
}

.main-content .card-header .card-title {
    font-size: 1.1875rem;
}

.main-content .card-body {
    flex: 1 1 auto;
    min-height: 1px;
}

.list-group.list-group-sm .list-group-item .list-group-icon,
.answer-group .answer label::before {
    min-width: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.5rem;
    margin-right: 8px
}

.dropdown .h1 {
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.35;
    color: #0d161b;
}

@media (max-width: 1200px) {
    .dropdown .h1 {
        font-size: calc(1.2625rem + 0.15vw);
    }
}

.main-content .dropdown-toggle {
    background-position: right center;
    white-space: normal;
}

.dropdown-menu {
    border: none;
    box-shadow: 0 0 0 1px rgba(13, 22, 27, 0.15), 0px 8px 16px rgba(13, 22, 27, 0.15);
}

.dropdown .btn:first-child:active,
.dropdown .btn.show {
    border-color: transparent;
}

.text-longform {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    color: #0d161b;
    text-align: left;
}

.text-longform a {
    color: #0d161b;
    text-decoration: none;
}

#completion-button .btn-dark {
    color: #fff;
    background-color: #0d161b;
    border-color: #0d161b;
}

#completion-button .btn-secondary {
    color: #212529;
    background-color: #edeff0;
    border-color: #edeff0;
}

#completion-button .btn-close {
    --bs-btn-close-color: #000;
    --bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e);
    --bs-btn-close-opacity: 0.5;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: var(--bs-btn-close-color);
    background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: var(--bs-btn-close-opacity);
}

.toast {
    font-size: 0.875rem;
    color: #ffffff !important;
    background-color: rgba(13, 22, 27, 0.9) !important;
    width: var(--bs-toast-max-width);
    max-width: 100%;
    font-size: var(--bs-toast-font-size);
    color: var(--bs-toast-color);
    pointer-events: auto;
    background-clip: padding-box;
    border: var(--bs-toast-border-width) solid var(--bs-toast-border-color);
    box-shadow: var(--bs-toast-box-shadow);
    border-radius: var(--bs-toast-border-radius);
}

.fixed-bottom {
    position: absolute;
    bottom: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.bg-color-transp {
    background-color: transparent !important;
}

.v9d3ks:not(:last-child) {
    margin-bottom: 1.25rem;
}

.lk25pol {
    color: #06040E;
    text-decoration: none;
    background-color: transparent;
}

.lk25pol h2 {
    font-size: 1.125rem;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.35;
    color: #06040E;
}

.mt-8,
.my-8 {
    margin-top: 32px !important;
}

.pb7jep h3 {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.35;
    color: #06040E;
}

.f4lgy4 {
    margin-left: 0.25rem;
    margin-top: -0.625rem;
}

.svg-grey-dark {
    fill: #06040E !important;
}

.icon.closed.f4lgy4.collapsed svg {
    fill: #06040E !important;
}

.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}

.h4ktbg {
    background-color: #EDEDED !important;
    border: 1px solid #D6D6D7 !important;
    border-radius: 0.5rem !important;
    padding: 16px;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
}

.te2ecj {
    margin-bottom: 0.563rem !important;
}

.carefull {
    color: #d73a49;
    font-weight: bold;
}

.blue {
    color: #1877f2;
    font-weight: 600;
}

.green {
    color: #18B870;
}

.violet {
    color: #B76BA3;
}

.vertolive {
    color: #88B04B;
}

.d1fo5x {
    color: #8b6f48;
    font-weight: bold;
}

.brown_u {
    color: #66352B;
    text-decoration: underline;
    font-weight: bold;
}

.brown_n {
    color: #66352B;
    font-weight: bold;
}

.thinksfull {
    color: #863339;
    font-weight: bold;
}

table.statement {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    background-color: transparent;
    border-spacing: 0;
}

table.statement tr {
    border: 1px solid #ddd;
    padding: .35em;
}

table.statement th,
table.statement td {
    padding: .625em;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 0.9em;
}

table.statement th {
    font-size: 0.9em;
    letter-spacing: .1em;
    border: 1px solid #ccc;
}

@media all and (max-width: 600px) {
    table.statement {
        border: 0;
    }

    table.statement thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table.statement tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table.statement td {
        border: 0;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table.statement td.premierchamp {
        display: none;
    }

    table.statement td.secondchamp {
        display: none;
    }

    table.statement td.troisiemechamp {
        display: none;
    }

    table.statement td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table.statement td:last-child {
        border-bottom: 0;
    }
}

.ml132 {
    margin-left: 138px;
}

/*--------------------------------------------------------------
# Quiz Section
--------------------------------------------------------------*/
.evm5cb {
    margin-bottom: 0;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    list-style-type: none;
}

.bulleted--muted {
    color: #59585A;
}

.pgxsnw {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom: 0 !important;
}

.i1e2w9 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #D6D6D7 !important;
    border-radius: 0.5rem !important;
}

@media (max-width: 575.98px) {
    .i1e2w9 {
        margin-left: -20px !important;
        margin-right: -20px !important;
        border-radius: 0 !important;
        border-left: none !important;
        border-right: none !important;
    }
}

.xr8n0b {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 0 !important;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}

@media (min-width: 576px) {
    .xr8n0b {
        padding-left: 28px !important;
        padding-right: 28px !important;
        padding-top: 24px !important;
    }
}

.xr8n0b:first-child {
    border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
}

.card-pretitle {
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 8px !important;
    color: #59585A !important;
}

.v7kke8 {
    color: #2867bc;
}

.qhlr2m {
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.35;
    color: #06040E;
    font-size: 1.125rem;
}

.qmxaxv {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 20px !important;
}

@media (min-width: 576px) {
    .qmxaxv {
        padding-left: 28px !important;
        padding-right: 28px !important;
        padding-bottom: 24px !important;
        padding-top: 24px !important;
    }
}

ol.answer-group {
    counter-reset: listStyle;
    padding-left: 0 !important;
}

.answer-group .answer {
    display: flex;
    justify-content: center;
    counter-increment: listStyle;
    list-style: none;
    padding: 0.375rem;
    transition: all 0.1s cubic-bezier(0.5, 0.2, 0.9, 0.4);
    border-radius: 0.5rem !important;
}

.answer-group .answer label {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 400;
    padding-top: 8px;
    width: 100%;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    line-height: 1.35rem;
}

.answer-group .answer label::before {
    align-content: center;
    align-items: center;
    align-self: start;
    display: flex;
    justify-content: center;
    background-color: #EDEDED;
    content: counter(listStyle, upper-alpha);
    line-height: 36px !important;
    margin-top: -8px;
    font-weight: 500 !important;
    margin-right: 12px !important;
    border-radius: 50% !important;
    min-width: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;
}

.answer-group .answer:hover:not(.selected, .correct, .incorrect) label::before,
.answer-group .option-group input[type=radio]:hover+.answer.option:not(.selected, .correct, .incorrect) label::before,
.option-group .answer-group input[type=radio]:hover+.answer.option:not(.selected, .correct, .incorrect) label::before,
.answer-group .option-group input[type=radio]:hover+input.option[type=radio]+.answer.option:not(.selected, .correct, .incorrect) label::before,
.option-group .answer-group input[type=radio]:hover+input.option[type=radio]+.answer.option:not(.selected, .correct, .incorrect) label::before,
.answer-group .answer:focus:not(.selected, .correct, .incorrect) label::before,
.answer-group trix-toolbar .answer.trix-input:not(.selected, .correct, .incorrect):focus label::before,
trix-toolbar .answer-group .answer.trix-input:not(.selected, .correct, .incorrect):focus label::before,
.answer-group trix-toolbar [data-toggle=popover][aria-expanded=true] select.answer.trix-input:not(.selected, .correct, .incorrect) label::before,
trix-toolbar [data-toggle=popover][aria-expanded=true] .answer-group select.answer.trix-input:not(.selected, .correct, .incorrect) label::before,
.answer-group [data-toggle=popover][aria-expanded=true] trix-toolbar select.answer.trix-input:not(.selected, .correct, .incorrect) label::before,
[data-toggle=popover][aria-expanded=true] trix-toolbar .answer-group select.answer.trix-input:not(.selected, .correct, .incorrect) label::before,
.answer-group [data-toggle=popover][aria-expanded=true] select.answer:not(.selected, .correct, .incorrect) label::before,
[data-toggle=popover][aria-expanded=true] .answer-group select.answer:not(.selected, .correct, .incorrect) label::before,
.answer-group .answer:active:not(.selected, .correct, .incorrect) label::before,
.list-group.list-group-menu .list-group-item.active .list-group-icon:not(.image-overlay):not(.badge-img),
.list-group.list-group-menu .list-group-item.active .list-group-icon-outline:not(.image-overlay):not(.badge-img),
.list-group .list-group-item:hover .list-group-icon,
.list-group .option-group input[type=radio]:hover+.list-group-item.option .list-group-icon,
.option-group .list-group input[type=radio]:hover+.list-group-item.option .list-group-icon,
.list-group .option-group input[type=radio]:hover+input.option[type=radio]+.list-group-item.option .list-group-icon,
.option-group .list-group input[type=radio]:hover+input.option[type=radio]+.list-group-item.option .list-group-icon,
.list-group .list-group-item:hover .list-group-icon-outline,
.list-group .option-group input[type=radio]:hover+.list-group-item.option .list-group-icon-outline,
.option-group .list-group input[type=radio]:hover+.list-group-item.option .list-group-icon-outline,
.list-group .option-group input[type=radio]:hover+input.option[type=radio]+.list-group-item.option .list-group-icon-outline,
.option-group .list-group input[type=radio]:hover+input.option[type=radio]+.list-group-item.option .list-group-icon-outline,
.list-group .list-group-item:focus .list-group-icon,
.list-group trix-toolbar .list-group-item.trix-input:focus .list-group-icon,
trix-toolbar .list-group .list-group-item.trix-input:focus .list-group-icon,
.list-group trix-toolbar [data-toggle=popover][aria-expanded=true] select.list-group-item.trix-input .list-group-icon,
trix-toolbar [data-toggle=popover][aria-expanded=true] .list-group select.list-group-item.trix-input .list-group-icon,
.list-group [data-toggle=popover][aria-expanded=true] trix-toolbar select.list-group-item.trix-input .list-group-icon,
[data-toggle=popover][aria-expanded=true] trix-toolbar .list-group select.list-group-item.trix-input .list-group-icon,
.list-group [data-toggle=popover][aria-expanded=true] select.list-group-item .list-group-icon,
[data-toggle=popover][aria-expanded=true] .list-group select.list-group-item .list-group-icon,
.list-group .list-group-item:focus .list-group-icon-outline,
.list-group trix-toolbar .list-group-item.trix-input:focus .list-group-icon-outline,
trix-toolbar .list-group .list-group-item.trix-input:focus .list-group-icon-outline,
.list-group trix-toolbar [data-toggle=popover][aria-expanded=true] select.list-group-item.trix-input .list-group-icon-outline,
trix-toolbar [data-toggle=popover][aria-expanded=true] .list-group select.list-group-item.trix-input .list-group-icon-outline,
.list-group [data-toggle=popover][aria-expanded=true] trix-toolbar select.list-group-item.trix-input .list-group-icon-outline,
[data-toggle=popover][aria-expanded=true] trix-toolbar .list-group select.list-group-item.trix-input .list-group-icon-outline,
.list-group [data-toggle=popover][aria-expanded=true] select.list-group-item .list-group-icon-outline,
[data-toggle=popover][aria-expanded=true] .list-group select.list-group-item .list-group-icon-outline,
.list-group .list-group-item:active .list-group-icon,
.list-group .list-group-item:active .list-group-icon-outline,
.list-group .list-group-item.active .list-group-icon,
.list-group .list-group-item.active .list-group-icon-outline,
.icon-backdrop-inner-ring,
.dropdown-item:hover .thumb,
.dropdown-item:hover .media-library-results .result-thumbnail,
.media-library-results .dropdown-item:hover .result-thumbnail,
.dropdown-item:hover .media-library-results .result-icon,
.media-library-results .dropdown-item:hover .result-icon,
.dropdown-item:hover .uploader .uploader-thumbnail,
.uploader .dropdown-item:hover .uploader-thumbnail,
.dropdown-item:hover .uploader .uploader-icon,
.uploader .dropdown-item:hover .uploader-icon,
.option-group input[type=radio]:hover+.dropdown-item.option .thumb,
.option-group input[type=radio]:hover+.dropdown-item.option .media-library-results .result-thumbnail,
.media-library-results .option-group input[type=radio]:hover+.dropdown-item.option .result-thumbnail,
.option-group input[type=radio]:hover+.dropdown-item.option .media-library-results .result-icon,
.media-library-results .option-group input[type=radio]:hover+.dropdown-item.option .result-icon,
.option-group input[type=radio]:hover+.dropdown-item.option .uploader .uploader-thumbnail,
.uploader .option-group input[type=radio]:hover+.dropdown-item.option .uploader-thumbnail,
.option-group input[type=radio]:hover+.dropdown-item.option .uploader .uploader-icon,
.uploader .option-group input[type=radio]:hover+.dropdown-item.option .uploader-icon,
.option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .thumb,
.option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .media-library-results .result-thumbnail,
.media-library-results .option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .result-thumbnail,
.option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .media-library-results .result-icon,
.media-library-results .option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .result-icon,
.option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .uploader .uploader-thumbnail,
.uploader .option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .uploader-thumbnail,
.option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .uploader .uploader-icon,
.uploader .option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .uploader-icon,
.dropdown-item:hover .list-group .list-group-item .list-group-icon,
.option-group input[type=radio]:hover+.dropdown-item.option .list-group .list-group-item .list-group-icon,
.option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .list-group .list-group-item .list-group-icon,
.dropdown-item:hover .list-group .list-group-item .list-group-icon-outline,
.option-group input[type=radio]:hover+.dropdown-item.option .list-group .list-group-item .list-group-icon-outline,
.option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .list-group .list-group-item .list-group-icon-outline,
.list-group .list-group-item .dropdown-item:hover .list-group-icon,
.list-group .list-group-item .option-group input[type=radio]:hover+.dropdown-item.option .list-group-icon,
.option-group .list-group .list-group-item input[type=radio]:hover+.dropdown-item.option .list-group-icon,
.list-group .list-group-item .option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .list-group-icon,
.option-group .list-group .list-group-item input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .list-group-icon,
.list-group .list-group-item .dropdown-item:hover .list-group-icon-outline,
.list-group .list-group-item .option-group input[type=radio]:hover+.dropdown-item.option .list-group-icon-outline,
.option-group .list-group .list-group-item input[type=radio]:hover+.dropdown-item.option .list-group-icon-outline,
.list-group .list-group-item .option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .list-group-icon-outline,
.option-group .list-group .list-group-item input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .list-group-icon-outline,
.dropdown-item:focus .thumb,
trix-toolbar .dropdown-item.trix-input:focus .thumb,
trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .thumb,
[data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .thumb,
.dropdown-item:focus .media-library-results .result-thumbnail,
trix-toolbar .dropdown-item.trix-input:focus .media-library-results .result-thumbnail,
trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .media-library-results .result-thumbnail,
[data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .media-library-results .result-thumbnail,
.media-library-results .dropdown-item:focus .result-thumbnail,
.media-library-results trix-toolbar .dropdown-item.trix-input:focus .result-thumbnail,
trix-toolbar .media-library-results .dropdown-item.trix-input:focus .result-thumbnail,
.media-library-results trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .result-thumbnail,
trix-toolbar [data-toggle=popover][aria-expanded=true] .media-library-results select.dropdown-item.trix-input .result-thumbnail,
.media-library-results [data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .result-thumbnail,
[data-toggle=popover][aria-expanded=true] trix-toolbar .media-library-results select.dropdown-item.trix-input .result-thumbnail,
.dropdown-item:focus .media-library-results .result-icon,
trix-toolbar .dropdown-item.trix-input:focus .media-library-results .result-icon,
trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .media-library-results .result-icon,
[data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .media-library-results .result-icon,
.media-library-results .dropdown-item:focus .result-icon,
.media-library-results trix-toolbar .dropdown-item.trix-input:focus .result-icon,
trix-toolbar .media-library-results .dropdown-item.trix-input:focus .result-icon,
.media-library-results trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .result-icon,
trix-toolbar [data-toggle=popover][aria-expanded=true] .media-library-results select.dropdown-item.trix-input .result-icon,
.media-library-results [data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .result-icon,
[data-toggle=popover][aria-expanded=true] trix-toolbar .media-library-results select.dropdown-item.trix-input .result-icon,
.dropdown-item:focus .uploader .uploader-thumbnail,
trix-toolbar .dropdown-item.trix-input:focus .uploader .uploader-thumbnail,
trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .uploader .uploader-thumbnail,
[data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .uploader .uploader-thumbnail,
.uploader .dropdown-item:focus .uploader-thumbnail,
.uploader trix-toolbar .dropdown-item.trix-input:focus .uploader-thumbnail,
trix-toolbar .uploader .dropdown-item.trix-input:focus .uploader-thumbnail,
.uploader trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .uploader-thumbnail,
trix-toolbar [data-toggle=popover][aria-expanded=true] .uploader select.dropdown-item.trix-input .uploader-thumbnail,
.uploader [data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .uploader-thumbnail,
[data-toggle=popover][aria-expanded=true] trix-toolbar .uploader select.dropdown-item.trix-input .uploader-thumbnail,
.dropdown-item:focus .uploader .uploader-icon,
trix-toolbar .dropdown-item.trix-input:focus .uploader .uploader-icon,
trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .uploader .uploader-icon,
[data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .uploader .uploader-icon,
.uploader .dropdown-item:focus .uploader-icon,
.uploader trix-toolbar .dropdown-item.trix-input:focus .uploader-icon,
trix-toolbar .uploader .dropdown-item.trix-input:focus .uploader-icon,
.uploader trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .uploader-icon,
trix-toolbar [data-toggle=popover][aria-expanded=true] .uploader select.dropdown-item.trix-input .uploader-icon,
.uploader [data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .uploader-icon,
[data-toggle=popover][aria-expanded=true] trix-toolbar .uploader select.dropdown-item.trix-input .uploader-icon,
[data-toggle=popover][aria-expanded=true] select.dropdown-item .thumb,
[data-toggle=popover][aria-expanded=true] select.dropdown-item .media-library-results .result-thumbnail,
.media-library-results [data-toggle=popover][aria-expanded=true] select.dropdown-item .result-thumbnail,
[data-toggle=popover][aria-expanded=true] select.dropdown-item .media-library-results .result-icon,
.media-library-results [data-toggle=popover][aria-expanded=true] select.dropdown-item .result-icon,
[data-toggle=popover][aria-expanded=true] select.dropdown-item .uploader .uploader-thumbnail,
.uploader [data-toggle=popover][aria-expanded=true] select.dropdown-item .uploader-thumbnail,
[data-toggle=popover][aria-expanded=true] select.dropdown-item .uploader .uploader-icon,
.uploader [data-toggle=popover][aria-expanded=true] select.dropdown-item .uploader-icon,
.dropdown-item:focus .list-group .list-group-item .list-group-icon,
trix-toolbar .dropdown-item.trix-input:focus .list-group .list-group-item .list-group-icon,
trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .list-group .list-group-item .list-group-icon,
[data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .list-group .list-group-item .list-group-icon,
[data-toggle=popover][aria-expanded=true] select.dropdown-item .list-group .list-group-item .list-group-icon,
.dropdown-item:focus .list-group .list-group-item .list-group-icon-outline,
trix-toolbar .dropdown-item.trix-input:focus .list-group .list-group-item .list-group-icon-outline,
trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .list-group .list-group-item .list-group-icon-outline,
[data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .list-group .list-group-item .list-group-icon-outline,
[data-toggle=popover][aria-expanded=true] select.dropdown-item .list-group .list-group-item .list-group-icon-outline,
.list-group .list-group-item .dropdown-item:focus .list-group-icon,
.list-group .list-group-item trix-toolbar .dropdown-item.trix-input:focus .list-group-icon,
trix-toolbar .list-group .list-group-item .dropdown-item.trix-input:focus .list-group-icon,
.list-group .list-group-item trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .list-group-icon,
trix-toolbar [data-toggle=popover][aria-expanded=true] .list-group .list-group-item select.dropdown-item.trix-input .list-group-icon,
.list-group .list-group-item [data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .list-group-icon,
[data-toggle=popover][aria-expanded=true] trix-toolbar .list-group .list-group-item select.dropdown-item.trix-input .list-group-icon,
.list-group .list-group-item [data-toggle=popover][aria-expanded=true] select.dropdown-item .list-group-icon,
[data-toggle=popover][aria-expanded=true] .list-group .list-group-item select.dropdown-item .list-group-icon,
.list-group .list-group-item .dropdown-item:focus .list-group-icon-outline,
.list-group .list-group-item trix-toolbar .dropdown-item.trix-input:focus .list-group-icon-outline,
trix-toolbar .list-group .list-group-item .dropdown-item.trix-input:focus .list-group-icon-outline,
.list-group .list-group-item trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .list-group-icon-outline,
trix-toolbar [data-toggle=popover][aria-expanded=true] .list-group .list-group-item select.dropdown-item.trix-input .list-group-icon-outline,
.list-group .list-group-item [data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .list-group-icon-outline,
[data-toggle=popover][aria-expanded=true] trix-toolbar .list-group .list-group-item select.dropdown-item.trix-input .list-group-icon-outline,
.list-group .list-group-item [data-toggle=popover][aria-expanded=true] select.dropdown-item .list-group-icon-outline,
[data-toggle=popover][aria-expanded=true] .list-group .list-group-item select.dropdown-item .list-group-icon-outline,
.dropdown-item:hover .icon,
.option-group input[type=radio]:hover+.dropdown-item.option .icon,
.option-group input[type=radio]:hover+input.option[type=radio]+.dropdown-item.option .icon,
.dropdown-item:focus .icon,
trix-toolbar .dropdown-item.trix-input:focus .icon,
trix-toolbar [data-toggle=popover][aria-expanded=true] select.dropdown-item.trix-input .icon,
[data-toggle=popover][aria-expanded=true] trix-toolbar select.dropdown-item.trix-input .icon,
[data-toggle=popover][aria-expanded=true] select.dropdown-item .icon {
    background-color: #fff !important;
}

.answer-group .answer:hover,
.answer-group .option-group input[type=radio]:hover+.answer.option,
.option-group .answer-group input[type=radio]:hover+.answer.option,
.answer-group .option-group input[type=radio]:hover+input.option[type=radio]+.answer.option,
.option-group .answer-group input[type=radio]:hover+input.option[type=radio]+.answer.option,
.answer-group .answer:focus,
.answer-group [data-toggle=popover][aria-expanded=true] select.answer,
[data-toggle=popover][aria-expanded=true] .answer-group select.answer,
.answer-group .answer:active {
    background-color: #EDEDED;
}

.answer-group .answer input {
    display: none;
}

.answer-group .answer.selected {
    background-color: #EDEDED;
    box-shadow: inset 0px 0px 0px 2px #06040E, inset 0px 0px 0px 4px #ffffff;
}

.answer-group .answer.selected label::before {
    background-color: #06040E;
    color: #ffffff;
}

.answer-group .answer.correct {
    background-color: #EBF5F1;
    box-shadow: inset 0px 0px 0px 2px #006D3C, inset 0px 0px 0px 4px #ffffff;
    color: #012816;
}

.answer-group .answer.correct label::before {
    background-color: #006D3C;
    color: #ffffff;
}

.answer-group .answer label div {
    margin-left: auto !important;
}

.answer-group .answer label div {
    padding-left: 4px !important;
}

.answer-group .answer.incorrect {
    background-color: #F6EBEB;
    box-shadow: inset 0px 0px 0px 2px #A01910, inset 0px 0px 0px 4px #ffffff;
    color: #380501;
}

.answer-group .answer.incorrect label::before {
    background-color: #A01910;
    color: #ffffff;
}

.pgb4wn {
    padding: 0 0;
    background-color: transparent;
    border: 1px solid #D6D6D7;
}

.pgb4wn:last-child {
    border-radius: 0 0 calc(0.5rem - 1px) calc(0.5rem - 1px);
}

.sp7tan {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#submit-quiz-button,
#next-question-button,
#view-results-button {
    background-color: #212529 !important;
    border-color: #212529 !important;
    color: #FFF !important;
}

.uvvne9 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #D6D6D7;
    border-radius: 0.5rem
}

@media (max-width: 575.98px) {
    .uvvne9 {
        margin-left: -20px;
        margin-right: -20px;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}

.gnnea9 {
    --item-gap: 0 0.375rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    list-style-type: none;
}

.gnnea9>span:not(:first-child)::before {
    content: "•";
    margin: var(--item-gap);
    color: #98989A;
}

.mr-2 {
    margin-right: 8px !important;
}

.badge-red {
    fill: #A01910;
}

.hzpmbv {
    color: #212529 !important;
    background-color: #EDEDED !important;
    border-color: #EDEDED !important;
    display: inline-flex !important;
    align-items: center !important;
    cursor: pointer !important;
}

.hzpmbv svg+span {
    margin-left: 0.25rem;
}

.hzpmbv:hover {
    color: #212529 !important;
    background-color: #d4d4d4 !important;
    border-color: #d4d4d4 !important;
}

/*--------------------------------------------------------------
# Dictation Section
--------------------------------------------------------------*/
.sidebar-error-results {
    background-color: #f9c5c5;
    padding: 15px 6px;
    border-radius: 5px;
}

.biv8j1 {
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
}

/*--------------------------------------------------------------
# Search Section
--------------------------------------------------------------*/
.main-content-courses .fuwpn3 {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .main-content-courses .fuwpn3 {
        height: 350px;
    }
}

.main-content-courses .fuwpn3:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
    background-image: url('./../img/bg_accueil_monorthographe.jpg');
    background-position: center center;
    -o-object-fit: cover;
    object-fit: cover;
}

.main-content-courses .fuwpn3:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.main-content-courses .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.main-content-courses .content>*+* {
    margin-top: 1rem;
}

.main-content-courses .title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.main-content-courses .button {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: black;
    border: none;
}

.main-content-courses .button:hover {
    background-color: #0d0d0d;
}

.main-content-courses .button:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

@media (min-width: 600px) {
    .main-content-courses .fuwpn3:hover::before {
        transform: translateY(-4%);
    }

    .main-content-courses .fuwpn3:hover::after {
        transform: translateY(-50%);
    }

    .main-content-courses .fuwpn3:after {
        transform: translateY(0);
    }

    .main-content-courses .content {
        transform: translateY(calc(100% - 8rem));
    }

    .main-content-courses .fuwpn3:hover .content {
        transform: translateY(-50%);
    }

    .main-content-courses .fuwpn3 .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .main-content-courses .fuwpn3:hover .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }
}

.box {
    padding: 10px;
}

.box-label {
    color: #1d2939;
    font-size: 0.9rem;
    font-weight: 800;
}

.box-label .btn {
    background-color: #fff;
    padding: 0;
}

.box-label .btn:focus {
    box-shadow: none;
}

.box-label .btn:active,
.box-label .btn:hover {
    color: #212529;
    background-color: #fff;
    border-color: transparent;
}

.ypxvno {
    background: #212529 !important;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF !important;
    width: 40px;
    height: 40px;
    display: flex !important;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.js-filter-courses-pagination .page-link {
    color: #212529;
}

.js-filter-courses-pagination .page-link:hover {
    color: #000000;
}

.js-filter-courses-pagination .page-link:focus {
    color: #212529;
}

.js-filter-courses-pagination .active>.page-link, .page-link.active {
    background-color: #212529;
    border-color: #212529;
}

/*--------------------------------------------------------------
# Filters
--------------------------------------------------------------*/
.filter {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }

/*--------------------------------------------------------------
# Search Select
--------------------------------------------------------------*/
.htfd6z {
    display: flex;
}

.htfd6z form {
    width: 100%;
}

.fullscreen .htfd6z form {
    max-width: 100%;
}

.htfd6z form .inner-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.htfd6z .focus .ts-control {
    border-color: rgb(134, 182.5, 254);
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.inner-form .input-field {
    height: 38px;
}

.input-field.first-wrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#course_autocomplete {
    background: 0 0;
    border: 0;
    display: block;
    width: 100%;
    margin-bottom: -1rem;
}

.htfd6z .ts-wrapper.form-select {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.fnkrdt {
    background: #212529 !important;
    border: 0;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #FFFFFF !important;
    width: 38px;
    height: 38px;
    display: flex !important;
    align-content: center;
    align-items: center;
    justify-content: center;
}
  
  /*--------------------------------------------------------------
  # Spinner
  --------------------------------------------------------------*/
  .is-loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    opacity: 0.5;
    z-index: 4;
  }
  
  .is-loading .spinner-border {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    z-index: 5;
  }