<h1>Invitation à vous enregistrer sur l'application e-learning</h1>
<p>Bonjour,</p>
<p>Vous êtes invité à vous enregistrer sur le site e-learning en cliquant sur le lien ci-dessous :</p>
<p><a href="{{ absolute_url(path('app_invitation', {uuid: uuid})) }}">{{ absolute_url(path('app_invitation', {uuid: uuid})) }}</a></p>