<div class="text-longform text-lg" data-controller="richtext">
	<div>Pour un récapitulatif que vous voudriez garder de côté avec toutes les commandes intéressantes que l'on va utiliser grâce à la CLI, rendez-vous ici :
		<a href="https://cheatography.com/liorchamla/cheat-sheets/la-cli-d-angular/" target="_blank" data-turbo="false">https://cheatography.com/liorchamla/cheat-sheets/la-cli-d-angular/</a><br><br>Vous pouvez même avoir une version PDF ici :&nbsp;<figure data-trix-attachment="{&quot;contentType&quot;:&quot;application/pdf&quot;,&quot;filename&quot;:&quot;liorchamla_la-cli-d-angular.pdf&quot;,&quot;filesize&quot;:28638,&quot;href&quot;:&quot;https://coachtestprep.s3.amazonaws.com/direct-uploads/user-26131/bf689ec1-3718-4e85-97c5-4ae370de0861/liorchamla_la-cli-d-angular.pdf&quot;,&quot;url&quot;:&quot;https://coachtestprep.s3.amazonaws.com/direct-uploads/user-26131/bf689ec1-3718-4e85-97c5-4ae370de0861/liorchamla_la-cli-d-angular.pdf&quot;}" data-trix-content-type="application/pdf" class="attachment attachment--file attachment--pdf">
			<a href="https://coachtestprep.s3.amazonaws.com/direct-uploads/user-26131/bf689ec1-3718-4e85-97c5-4ae370de0861/liorchamla_la-cli-d-angular.pdf" target="_blank" data-turbo="false">
				<span class="attachment__name">liorchamla_la-cli-d-angular.pdf</span>
				<span class="attachment__size">27.97 KB</span>
			</a>
		</figure>
	</div>
</div>
