<div class="text-longform text-lg" data-controller="richtext">
	<div>
		Relisez tranquillement l'ensemble des points du module avant de faire l'exercice de réinvestissement. Si vous
		vous estimez prêt(e),
		<span class="blue">testez-vous</span>.
		<br>
		<br>
		Inutile de vous guider, vous vous
		débrouillez parfaitement.
		<br>
		<br>
		Rendez-vous au module 5. À votre rythme, toujours !
	</div>
</div>