<div class="text-longform text-lg" data-controller="richtext">
	<div>
		Relisez tranquillement l'ensemble des points du module avant de faire l'exercice de réinvestissement. Si vous vous estimez prêt(e),
		<span class="blue">testez-vous</span>.
		<br>
		<br>
		Afin de vous accompagner dans vos processus de raisonnement et d'apprentissage, le thème est rappelé afin que vous vous questionniez uniquement sur le point du cours. Une fois la justification mentale faite, validez votre réponse. Dans la plupart des cas, les réponses sont justifiées afin de rappeler le raisonnement sous-jacent. Quand ce n'est pas le cas, vous avez les outils pour le faire désormais de <span class="underline">manière autonome</span>.
		<br>
		<br>
		Faites-vous confiance ! Vous allez bientôt constater vos progrès…
	</div>
</div>
