<div class="text-longform text-lg" data-controller="richtext">
	<div>
		Voilà les bases relues et revues ! Vous n'avez pas tout assimilé ? Cela est normal.
		<span class="text-decoration-underline">L'essentiel est d'acquérir des automatismes de questionnements pour comprendre ce que vous écrivez</span>.
		<br>
		<br>
		Le travail que vous avez fourni constitue donc une première étape. Il va se consolider et prendre tout son sens par la suite. Ce mémento sera un outil sur lequel vous appuyer en cas de besoin.
		<br>
		<br>
		Pour aujourd'hui, laissez reposer et vaquez à autre chose…
		<br>
		<br>
		Avant de faire
		<span class="blue">l'exercice de réinvestissement sur les bases</span>
		demain ou dans quelques jours, relisez-les et lancez-vous avec confiance ! C'est en vous exerçant que vous allez progresser.
        <br>
        <br>
        Nous nous retrouverons après la première dictée et le début du prochain chapitre.
	</div>
</div>
