<div class="text-longform text-lg" data-controller="richtext">
	<div>
		Prenez le temps de vous relire avant de vous <span class="blue">exercer</span>.
		<br>
		<br>
		Il restera ensuite un dernier module. N'hésitez pas à revoir les précédents avant de poursuivre afin de
		consolider vos connaissances et de les réinvestir lors de la prochaine dictée.
		<br>
		<br>
		Vous prendrez de nouveau la mesure de vos progrès.
	</div>
</div>