<div class="text-longform text-lg" data-controller="richtext">
	<div>
		Vous y êtes ! C'est terminé ! Vous avez vu sur plusieurs séances les difficultés
		orthographiques les plus fréquentes. Beau travail !<br>Vous pensez ne pas avoir tout
		retenu ? Le contraire serait étonnant ! D'ailleurs, tout retenir n'est pas l'objectif
		pour le moment. L'essentiel est que vous ayez <span class="bold">compris</span> chaque
		point, à votre rythme.
	</div>
</div>