<div class="text-longform" data-controller="richtext">
	<div>Aussi bizarre que ça puisse vous paraître, lorsque l'on code dans le framework Angular, on peut placer du HTML au sein d'un fichier TypeScript (.ts).<br><br>On peut bénéficier d'Emmet (le système d'écriture simplifiée de HTML de VSCode) au sein d'un fichier TypeScript si on l'active.<br><br>Pour cela : rendez-vous dans votre VSCode et faites CTRL+, (contrôle + virgule) ou COMMAND+, (Commande + virgule) si vous êtes sous Mac.<br><br>Recherchez "<em>emmet include</em>", et dans le paramètre Include Languages, entrez une nouvelle association en
		<em>typescript</em>
		et
		<em>html</em>

	</div>
</div>
